
*{margin: 0; padding: 0;}
h1 
{
	font-family: impact;
}
ul li, ul li a 
{
	display: inline-block;
}

ul
{
	background-color: DarkSlateGrey;
	text-align: center;
}

ul li a
{
	padding: 25px;
	margin: 10px;
	font-size: 25px;
	text-decoration: none;
	font-family: impact;
	color: DarkSeaGreen;
	border-radius: 5px 5px 5px 5px;
	transition: 0.4s;
}

ul li a:hover, .current
{
	color: DarkSlateGrey;
	background-color: DarkSeaGreen;
}