*{background-color: #121212; font-family: sans-serif;}

.landing-grid 
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    padding-top: 5%;
}

.primary-text 
{
    grid-column: span 2;
    padding-left: 10%;
    font-size: 300%;
    font-weight: bolder;
    color: #ededed;
    
    
}
.secondary-text
{
    grid-column: span 2;
    padding-left: 12%;
    color: #b99bff;
    font-size: 175%;
}

.menu-item 
{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #ededed;
    font-size: 120%;

}