*{background-color: #121212}

.primary-text 
{
    color: #ededed;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
}
.secondary-text
{
    color: #b99bff;
}